body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../confirmar_datos_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-410px;
    width:1400px;
    height:1499px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1400px;
    height:1499px;
}

.u1 {
    position:absolute;
    left:2px;
    top:742px;
    width:1396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../confirmar_datos_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:220px;
    top:0px;
    width:940px;
    height:120px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:940px;
    height:120px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../confirmar_datos_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:460px;
    top:28px;
    width:550px;
    height:80px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:556px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:546px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:1000px;
    top:93px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../confirmar_datos_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:230px;
    top:0px;
    width:310px;
    height:21px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:27px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:240px;
    top:6px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:300px;
    top:194px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:760px;
    top:191px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:1010px;
    top:536px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../confirmar_datos_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:460px;
    height:3px;
}

.u13 {
    position:absolute;
    left:460px;
    top:140px;
    width:460px;
    height:10px;
    
}

.u14_normal {
    background-image: url('../confirmar_datos_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:460px;
    top:134px;
    width:20px;
    height:22px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:28px;
}

.u15 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../confirmar_datos_files/u14_normal.png');
}

.u16_container {
    position:absolute;
    left:597px;
    top:134px;
    width:20px;
    height:22px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:28px;
}

.u17 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../confirmar_datos_files/u14_normal.png');
}

.u18_container {
    position:absolute;
    left:901px;
    top:134px;
    width:20px;
    height:22px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:28px;
}

.u19 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../confirmar_datos_files/u14_normal.png');
}

.u20_container {
    position:absolute;
    left:760px;
    top:134px;
    width:20px;
    height:22px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:28px;
}

.u21 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:438px;
    top:156px;
    width:179px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:581px;
    top:156px;
    width:99px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:740px;
    top:156px;
    width:99px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:887px;
    top:156px;
    width:99px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../confirmar_datos_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:602px;
    top:140px;
    width:10px;
    height:10px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../confirmar_datos_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:1043px;
    top:22px;
    width:117px;
    height:50px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:56px;
}

.u29 {
    position:absolute;
    left:2px;
    top:17px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:300px;
    top:221px;
    width:331px;
    height:290px;
    overflow:hidden;
}

#pd1u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:290px;
    
}

.u31_normal {
    background-image: url('../confirmar_datos_files/u0_normal.png');
}

.u31_container {
    position:absolute;
    left:-170px;
    top:-422px;
    width:1400px;
    height:1499px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1400px;
    height:1499px;
}

.u32 {
    position:absolute;
    left:2px;
    top:742px;
    width:1396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../confirmar_datos_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:270px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:276px;
}

.u34 {
    position:absolute;
    left:2px;
    top:127px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:20px;
    top:35px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:20px;
    top:90px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:20px;
    top:145px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_normal {
    background-image: url('../confirmar_datos_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:145px;
    top:222px;
    width:140px;
    height:38px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:44px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:290px;
    
}

.u40_normal {
    background-image: url('../confirmar_datos_files/u33_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:270px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:276px;
}

.u41 {
    position:absolute;
    left:2px;
    top:127px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:20px;
    top:55px;
    width:150px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../confirmar_datos_files/u38_normal.png');
}

.u43_container {
    position:absolute;
    left:145px;
    top:222px;
    width:140px;
    height:38px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:44px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u45 {
    position:absolute;
    left:760px;
    top:221px;
    width:321px;
    height:270px;
    overflow:hidden;
}

#pd1u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:270px;
    
}

.u46_normal {
    background-image: url('../confirmar_datos_files/u0_normal.png');
}

.u46_container {
    position:absolute;
    left:-170px;
    top:-422px;
    width:1400px;
    height:1499px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1400px;
    height:1499px;
}

.u47 {
    position:absolute;
    left:2px;
    top:742px;
    width:1396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../confirmar_datos_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:1px;
    top:1px;
    width:319px;
    height:269px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:275px;
}

.u49 {
    position:absolute;
    left:2px;
    top:126px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../confirmar_datos_files/u38_normal.png');
}

.u50_container {
    position:absolute;
    left:153px;
    top:222px;
    width:140px;
    height:38px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:44px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../confirmar_datos_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:57px;
    top:20px;
    width:172px;
    height:34px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:34px;
}

.u53 {
    position:absolute;
    left:2px;
    top:9px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:30px;
    top:75px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:30px;
    top:123px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:30px;
    top:185px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:30px;
    top:165px;
    width:30px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:120px;
    top:185px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:120px;
    top:165px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:270px;
    
}

.u60_normal {
    background-image: url('../confirmar_datos_files/u0_normal.png');
}

.u60_container {
    position:absolute;
    left:-190px;
    top:-420px;
    width:1400px;
    height:1499px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1400px;
    height:1499px;
}

.u61 {
    position:absolute;
    left:2px;
    top:742px;
    width:1396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../confirmar_datos_files/u48_normal.png');
}

.u62_container {
    position:absolute;
    left:1px;
    top:1px;
    width:319px;
    height:269px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:275px;
}

.u63 {
    position:absolute;
    left:2px;
    top:126px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:108px;
    top:49px;
    width:208px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../confirmar_datos_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:42px;
    top:39px;
    width:56px;
    height:33px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:33px;
}

.u66 {
    position:absolute;
    left:2px;
    top:8px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../confirmar_datos_files/u38_normal.png');
}

.u67_container {
    position:absolute;
    left:153px;
    top:222px;
    width:140px;
    height:38px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:44px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:42px;
    top:115px;
    width:98px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:42px;
    top:95px;
    width:150px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../confirmar_datos_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:1043px;
    top:527px;
    width:117px;
    height:33px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:39px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:113px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

